<!--<app-kitchen></app-kitchen>-->
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>{{kitchens[id].title}}</h1>
        <p>{{kitchens[id].description}}</p>
      </div>
      <div class="col-md-5 py-5">
        <img src="{{kitchens[id].image}}" class="embed-responsive" alt="English kitchen" />
      </div>
      <div class="col-md-12">
        <a class="back-link" routerLink="/kitchens">Back</a>
      </div>
    </div>
  </div>
</div>
