<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <figure class="background-image position-relative">
          <img src="assets/image/kitchens/english-breakfast.jpg" class="embed-responsive" alt="English kitchen" />
          <figcaption class="container-caption">
            <h2 class="caption-title">English kitchen</h2>
            <!--<p class="caption-text">-->
            <!--Մեր տեասկանին սպասում է Ձեզ-->
            <!--</p>-->
            <a class="caption-link btn btn-outline-danger" routerLink="/kitchen/0">View more</a>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="background-image position-relative">
          <img src="assets/image/kitchens/italian-food.jpg" class="embed-responsive" alt="Italian kitchen" />
          <figcaption class="container-caption">
            <h2 class="caption-title">Italian kitchen</h2>
            <!--<p class="caption-text">-->
            <!--Մեր տեասկանին սպասում է Ձեզ-->
            <!--</p>-->
            <a class="caption-link btn btn-outline-danger" routerLink="/kitchen/1">View more</a>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="background-image position-relative">
          <img src="assets/image/kitchens/french-breakfast.jpg" class="embed-responsive" alt="French kitchen" />
          <figcaption class="container-caption">
            <h2 class="caption-title">French kitchen</h2>
            <!--<p class="caption-text">-->
            <!--Մեր տեասկանին սպասում է Ձեզ-->
            <!--</p>-->
            <a class="caption-link btn btn-outline-danger" routerLink="/kitchen/2">View more</a>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="background-image position-relative">
          <img src="assets/image/kitchens/spanish-food.jpg" class="embed-responsive" alt="Spanish kitchen" />
          <figcaption class="container-caption">
            <h2 class="caption-title">Spanish kitchen</h2>
            <!--<p class="caption-text">-->
            <!--Մեր տեասկանին սպասում է Ձեզ-->
            <!--</p>-->
            <a class="caption-link btn btn-outline-danger" routerLink="/kitchen/3">View more</a>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="background-image position-relative">
          <img src="assets/image/kitchens/greek-food.jpg" class="embed-responsive" alt="Greek kitchen" />
          <figcaption class="container-caption">
            <h2 class="caption-title">Greek kitchen</h2>
            <!--<p class="caption-text">-->
            <!--Մեր տեասկանին սպասում է Ձեզ-->
            <!--</p>-->
            <a class="caption-link btn btn-outline-danger" routerLink="/kitchen/4">View more</a>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="background-image position-relative">
          <img src="assets/image/kitchens/german-breakfast.jpg" class="embed-responsive" alt="German kitchen" />
          <figcaption class="container-caption">
            <h2 class="caption-title">German kitchen</h2>
            <!--<p class="caption-text">-->
            <!--Մեր տեասկանին սպասում է Ձեզ-->
            <!--</p>-->
            <a class="caption-link btn btn-outline-danger" routerLink="/kitchen/5">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>