<footer class="footer py-5">
  <div class="container">
    <div class="row">
        <ul class="col-md-12 footer-list">
          <li class="">
            <a class="footer-list__link" routerLink="/homepage">Home</a>
          </li>
          <li class="">
            <a class="footer-list__link" routerLink="/kitchens">Foreign kitchens</a>
          </li>
          <li class="">
            <a class="footer-list__link" routerLink="/facts">Interesting facts</a>
          </li>
        </ul>
    </div>
  </div>
</footer>