<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="assets/image/facts/tips.jpg" alt="">
          <div class="card-body">
            <p class="card-text">28 Fun and Interesting Kitchen Facts and Tips</p>
            <div class="d-flex justify-content-end">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-danger" href="https://delishably.com/misc/Cooking-Fun-Facts-30-in-30-10" target="_blank">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="assets/image/facts/facts.jpg" alt="">
          <div class="card-body">
            <p class="card-text">10 Food & Kitchen Facts You May Not Know</p>
            <div class="d-flex justify-content-end">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-danger" href="http://simplykitchensuk.com/blogs/10-food-kitchen-facts-may-not-know/" target="_blank">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="assets/image/facts/knives.jpg" alt="">
          <div class="card-body">
            <p class="card-text">13 Things You Didn’t Know About Kitchen Knives</p>
            <div class="d-flex justify-content-end">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-danger" href="https://www.rd.com/food/fun/13-things-you-didnt-know-about-kitchen-knives/" target="_blank">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>